h1 {
    color: rgba(45, 32, 156, 0.555);
}

.TopBar {
    background-color: rgba(72, 255, 0, 0.836);
    padding: 10px;
    text-align: center;
}

.Content {
    background-color: rgb(255, 0, 0);
    padding: 10px;
    text-align: center;
}