h1 {
    color: rgba(45, 32, 156, 0.555);
}

body {
    background-color: rgba(255, 255, 255, 0.13);
    display: flex;
    flex-direction: column;
}

.TopBar {
    background-color: rgba(255, 255, 255, 0.048);
    padding: 10px;
    text-align: center;
    flex: 1;
}

.Content {
    padding: 10px;
    text-align: center;
}